@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  font-family: sans-serif;
}

/* Styles for the navbar */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
 
  /* Ensure the body content starts below the fixed navbar */

  